**COMPARISION OPERATORS (RELATIONAL OPERATORS)**

> -> MORE THAN
< -> LESS THAN
>= ->More than or equal to
<= ->Less than or equal to
== ->Equal to
!= ->Not equal to

In [1]:
a=10
b=20
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)
print(a==b)
print(a!=b)

False
True
False
True
False
True

In [3]:
a="ARMAN"
b="ARYAN"
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)
print(a==b)
print(a!=b)

False
True
False
True
False
True

**LOGICAL OPERATORS** : AND,OR,NOT

1) Boolean Type Behaviour

and -> If both arguments are true then only result is True else False
or  -> If atleast one argument is True then result is True.
not -> complement

2) Non-Boolean Type Behaviour

- 0 means False
- non-zero means True
- empty-string means False
x and y ->If x is evaluates to False then return x otherwise return y.
x and y ->If x is evaluates to True then result is x otherwise y.

In [5]:
#Boolean Type
print(True and False)
print(True or False)
print(not False)
print(not True)
print(True and False and True and True)

False
True
True
False
False

In [10]:
#Non-Boolean Type
print(10 and 20)
print(10 or 20)
print(0 or 20)
print(not 0)
print(not 20)

20
10
20
True
False

**Ternary or conditional operators**

syntax : x=first value if condition else second value
        - if condition true then first value will be considered else
          second value will be considred

In [11]:
a=10
b=20
x=30 if a>b else 40
print(x)

40

**ASSIGNMENT OPERATORS**

-> We can use assignment operator to assign value to the variable

In [18]:
x=10
x+=10
print(x)
x-=10
print(x)
x*=10
print(x)
x/=10
print(x)
x//=10
print(x)
x**=10
print(x)

20
10
100
10.0
1.0
1.0

**MEMBERSHIP OPERATOR**

-> To check whether the given object is pressent in the given collection.
  (String,List,Tuple,dict,set)
  
in -> returns True if given object present in the specified collection.
not in -> returns Ture if given object is not present in the specified collection

In [19]:
x="Hello learing python is very easy"
print("i" in x)
print("python" in x)
print("d" in x)
print("d" not in x)

True
True
False
True

In [21]:
a=[1,2,3,4,5]
print( 3 in a)

True

In [28]:
print(7 and 0 or 5 and 3 or 7/0)

3

In [35]:
5 and False or 3/0
5 and True or 3/0

True

In [36]:
"1" in "123" and "False" or True

'False'

In [37]:
print(7*5**2/True*False)

0.0

In [38]:
3/True

3.0

In [40]:
10*4+5**2**2/10

102.5

In [42]:
print(5==5.0 or 10 and 5 or 5 == 5.0 and 7!= 7.0)

True

In [45]:
new = (1 and "True") and ("False" or TRAIN)
str ="This statement is "+ new
print("This is False " if "false" in new else "This is True")

This is True

1) ord() Char to Ascii

2) chr() Ascii to char

In [47]:
print(ord("A"))
print(chr(65))

65
A

In [50]:
for i in range (ord("a"),ord("z")+1):
      print(chr(i))

a
b
c
d
e
f
g
h
i
j
k
l
m
n
o
p
q
r
s
t
u
v
w
x
y
z

In [53]:
for i in range(65,91):
    print(chr(i))

A
B
C
D
E
F
G
H
I
J
K
L
M
N
O
P
Q
R
S
T
U
V
W
X
Y
Z

In [69]:
# write python progam to conver given date in year month and days
a=int(input("ENTER DAYS"))
y=a//365
m=(a%365)//30
d=(a%365)%30

print(y ," year" , m , "months " ,d, "days")

ENTER DAYS450
1  year 2 months  25 days

In [74]:
# 10 20 50 100 200 500

a=int(input("ENTER AMOUNT"))
n500=a//500
n200=(a%500)//200
n100=((a%500)%200)//100
n50=(((a%500)%200)%100)//50
n20=((((a%500)%200)%100)%50)//20
n10=(((((a%500)%200)%100)%50)%20)//10

print( n500,"* 500 ",n200,"* 200 ",n100,"* 100 ",n50,"* 50 ",n20,"* 20 ",n10,"* 10")

ENTER AMOUNT1780
3 * 500  1 * 200  0 * 100  1 * 50  1 * 20  1 * 10