**GRADE-LEVEL  BASIC-PAY  OTHER-ALLOWANCES**

     A           60000       8000
     B           50000       7000
     C           40000       6000
     D           30000       5000
     F           20000       4000
     E           10000       3000
     
     Gross-pay=Basic-pay+HRA+DA+other-allowence+TA-professional-Tax-EPF
     
    HRA
    
    city
    
    class-1   0.3 of basic pay
    class-2   0.2 of basic pay
    class-3   0.1 of basic pay
    
    professional-tax 200/month
    
    DA - 0.5 times of basic pay
    EPF - 0.11 times of basic pay
    TA - 900/month
    
    
    input grade-level,city-class,
    
    
    Amount                          Tax-Rate
    
    upto 2,50,000                    0%
    2,50,0000 to 5,00,000            3% above 2,50,000
    5,00,001 to 7,50,000             10% above 5,00,000+12500
    7,50,001 to 10,00,000            15% above 7,50,000+37
    10,00,001 to 12,50,000           20% above 10,00,000+75000
    12,50,001 to 15,00,000           25% above 12,50,000+1,25,000
    above 15,00,0001                 30% above 15,00,000+1,87,500

In [24]:
grade=input("ENTER GRADE-LEVEL")
city=input("ENTER CITY CLASS")
ta=900
pt=200
grosspay=0
hra=0
ap=0
tax=0
if grade=='A' :
    basic=60000
    oa=8000
    da=0.5*basic
    epf=0.11*basic
    if city=="class-1"   :
        hra=basic*0.3
    elif city=="class-2" :
        hra=0.2*basic
    elif city=="class-3" :
        hra=0.1*basic
    else :        
        print("ENTER VALID CLASS")
        
    grosspay=basic+hra+da+oa+ta-pt-epf
    
elif grade=='B' :
    basic=50000
    oa=7000
    da=0.5*basic
    epf=0.11*basic
    if city=="class-1"   :
        hra=basic*0.3
    elif city=="class-2" :
        hra=0.2*basic
    elif city=="class-3" :
        hra=0.1*basic
    else :        
        print("ENTER VALID CLASS")
    
    grosspay=basic+hra+da+oa+ta-pt-epf    
    
elif grade=='C' :
    basic=40000
    oa=6000
    da=0.5*basic
    epf=0.11*basic
    if city=="class-1"   :
        hra=basic*0.3
    elif city=="class-2" :
        hra=0.2*basic
    elif city=="class-3" :
        hra=0.1*basic
    else :        
        print("ENTER VALID CLASS")
    
    grosspay=basic+hra+da+oa+ta-pt-epf     
    
elif grade=='D' :
    basic=30000
    oa=5000
    da=0.5*basic
    epf=0.11*basic
    if city=="class-1"   :
        hra=basic*0.3
    elif city=="class-2" :
        hra=0.2*basic
    elif city=="class-3" :
        hra=0.1*basic
    else :        
        print("ENTER VALID CLASS")
    
    grosspay=basic+hra+da+oa+ta-pt-epf
    
elif grade=='E' :
    basic=20000
    oa=4000
    da=0.5*basic
    epf=0.11*basic
    if city=="class-1"   :
        hra=basic*0.3
    elif city=="class-2" :
        hra=0.2*basic
    elif city=="class-3" :
        hra=0.1*basic
    else :        
        print("ENTER VALID CLASS")
    
    grosspay=basic+hra+da+oa+ta-pt-epf
    
elif grade=='F' :
    basic=10000
    oa=3000
    da=0.5*basic
    epf=0.11*basic
    if city=="class-1"   :
        hra=basic*0.3
    elif city=="class-2" :
        hra=0.2*basic
    elif city=="class-3" :
        hra=0.1*basic
    else :        
        print("ENTER VALID CLASS")
    
    grosspay=basic+hra+da+oa+ta-pt-epf
       
       
ap=grosspay*12 
print(ap)
print("GROSS PAY =",grosspay)
print("ANUAL PAY =",grosspay*12)
if ap < 250000 :
          print("NOT TAX")
elif ap>=250001 or ap<=500000 :
          tax=ap*0.03
elif ap>=500001 or ap<=750000 :
          tax=(ap*0.10+12500)
elif ap>=750001 or ap<=1000000 :
          tax=(ap*0.15)+37500        
elif ap>=1000001 or ap<=1250000 :
          tax=(ap*0.20)+75000      
elif ap>=1250001 or ap<=1500000 :
          tax=(ap*0.25)+125000
elif ap>=1500001 :
          tax=(ap*0.30)+187000      
else :
          print("NOT VALID ANNUAL PAY FOUND")
print("TAX",tax)

ENTER GRADE-LEVELA
ENTER CITY CLASSclass-1
1321200.0
GROSS PAY = 110100.0
ANUAL PAY = 1321200.0
TAX 39636.0

In [ ]:
**PATTERN**

1)
*
**
***
****

In [26]:
n=int(input("ENTER NUMBER"))
for i in range(1,n+1) :
    for j in range(1,i+1) :
         print("*",end=" ")
    print()

ENTER NUMBER5
*
* *
* * *
* * * *
* * * * *

In [27]:
n=int(input("ENTER NUMBER"))
for i in range(1,n+1) :
    for j in range(1,i+1) :
         print(i,end=" ")
    print()

ENTER NUMBER5
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [1]:
n=int(input("ENTER NUMBER"))
for i in range(1,n+1) :
    for j in range(1,i+1) :
         print(j,end=" ")
    print()

ENTER NUMBER5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [2]:
n=int(input("ENTER NUMBER "))
for i in range(1,n+1) :
    for j in range(1,i+1) :
         print(chr(64+j),end=" ")
    print()

ENTER NUMBER 5
A
A B
A B C
A B C D
A B C D E

In [5]:
n=int(input("ENTER NUMBER"))
for i in range(1,n+1) :
    for j in range(1,i+1) :
        if (i+j)%2==0 :
             print(1,end=" ")
        else :
            print(0,end=" ")
    print()

ENTER NUMBER5
1
0 1
1 0 1
0 1 0 1
1 0 1 0 1

In [6]:
n=int(input("ENTER NUMBER"))
for i in range(1,n+1) :
    for j in range(1,i+1) :
        print((i+j-1)%2,end=" ")
    print()

ENTER NUMBER5
1
0 1
1 0 1
0 1 0 1
1 0 1 0 1

In [2]:
n=int(input("ENTER NUMBER"))
for i in range(1,n+1) :
    for j in range(1,i+1) :
        if (i)%2==0 :
             print("#",end=" ")
        else :
            print("*",end=" ")
    print()

ENTER NUMBER5
*
# #
* * *
# # # #
* * * * *

In [4]:
n=int(input("ENTER NUMBER"))
temp=n
for i in range(1,n+1) :
    for j in range(i,n+1) :
         print("*",end=" ")
    print()

ENTER NUMBER5
* * * * *
* * * *
* * *
* *
*

In [19]:
n=int(input("ENTER NUMBER"))
temp=n
for i in range(1,n+1) :
    for j in range(i,n+1) :
         print(n+i-j,end=" ")
    print()

ENTER NUMBER5
5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

In [20]:
n=int(input("ENTER NUMBER"))
temp=n
for i in range(1,n+1) :
    for j in range(i,n+1) :
         print(j,end=" ")
    print()

ENTER NUMBER5
1 2 3 4 5
2 3 4 5
3 4 5
4 5
5

In [21]:
n=int(input("ENTER NUMBER"))
temp=n
for i in range(1,n+1) :
    for j in range(i,n+1) :
         print(j-i+1,end=" ")
    print()

ENTER NUMBER5
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [34]:
n=int(input("ENTER NUMBER"))
temp=n
for i in range(1,n+1) :
    for j in range(i,n+1) :
        print(" ",end="")
    for j in range(1,i+1) :
        print("*",end=" ")
    print()

ENTER NUMBER5
     *
    * *
   * * *
  * * * *
 * * * * *

In [ ]:
n=int(input("ENTER NUMBER"))
temp=n
for i in range(1,n+1) :
    for j in range(i,n+1) :
        print(" ",end="")
    for j in range(1,i+1) :
        print("*",end=" ")
    print()